html {
  height: 100%;
}

body {
  background: #202118;
  font-family: monospace;
  color: #171518;
  border-color: #171518;
  height: 100%;
  margin: 0;
  font-size: 1vw;
  user-select: none;
}

h1, h2 {
	text-align: center;
}

body {
	cursor: pointer;
}

img {
	width: 20%;
	margin: 0;
}