html {
  height: 100%;
}

body {
  background: #5b7a8c;
  font-family: monospace;
  color: #171518;
  border-color: #171518;
  height: 100%;
  margin: 0;
  font-size: 1vw;
  user-select: none;
}

button {
  margin: 0vw 1vw;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: 1.5vw;
}

#container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
  margin: 0 auto;
  padding: 0vw 0vw 0vw 0vw;
  border: 3px inset;
  background: #3b4a5c;
  width: 30vw;
  display: flex;
  flex-direction: column;
}

#wrapper {
  display: flex;
}

#controls-section {
  padding: 0vw 0vw 0.5vw 0vw;
  display: flex;
  flex-direction: column;
  width: 12vw;
}

.panel {
  background: #768a88;
  margin: 0.5vw 0.5vw 0vw 0.5vw;
  padding: 0.5vw 0.5vw 0vw 0.5vw;
  border: 0.2vw outset #171518;
  text-align: center;
  height: 5vw;
  font-size: 1.2vw;
}

.controls {
  height: 50%;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.length {
  width: 1.5vw;
}

#display {
  margin: 0.5vw 0.5vw 0.5vw 0.2vw;
  padding: 0vw 1vw;
  border: 0.2vw outset;
  background: #768a88;
  text-align: center;
  width: 15vw;
}

#timer-label {
  font-size: 2vw;
  line-height: 3.5vw;
}

#time-left {
  font-size: 4vw;
  line-height: 4vw;
}

#playback {
  font-size: 1.5vw;
  line-height: 4vw;
}