:root {
  --dark-blue: #1A2128;
  --compromise: #252D36;
  --mid-blue: #435568;
  --midder-blue: #353F49;
  --light-blue: #A5D0FF;
  --winning-green: #64914F;
  --narrow-yellow: #B59F3A;
  --true-blue: #3A90B2;
  --light-grey: #647789;
  --choice-red: #AD3A3A;
}

body {
	background: var(--dark-blue);
	font-family: monospace;
	font-size: 1vw;
}

#container {
	height: 95vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: vertical;
}

#app {
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}

#app:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0.2, 0.2);
  border-left: 1.1em solid rgba(0, 0, 0.1, 0.8);
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font: bold 1.5vw Helvetica, sans-serif;
}

.guess {
	margin: 0.25vw 0vw;
	display: flex;
	align-items: center;
	justify-content: center;	
	width: 100%;
}

.letter {
	width: 2vw;
	height: 2vw;
	margin: 0vw 0.25vw;
	border-radius: 0.25vw;
	line-height: 2vw;
	text-align: center;
	color: white;
}

.letter-grey {
	border: 0.25vw solid var(--midder-blue);
	background: var(--midder-blue);
}

.letter-green {
	border: 0.25vw solid var(--winning-green);
	background: var(--winning-green);
}

.letter-yellow {
	border: 0.25vw solid var(--narrow-yellow);
	background: var(--narrow-yellow);
}

.letter-blue {
	border: 0.25vw solid var(--true-blue);
	background: var(--true-blue);
}

.letter-filled {
	border: 0.25vw solid var(--mid-blue);
	background: var(--compromise);
}

.letter-selected {
	border: 0.25vw solid white;
	background: var(--compromise);
}

.letter-empty {
	border: 0.25vw solid var(--midder-blue);
	background: var(--compromise);
}

.letter-future {
	border: 0.25vw solid var(--midder-blue);
	background: var(--dark-blue);
}

.space {
	width: 2vw;
}

#keyboard {
	margin: 1vw 0vw;
}
	
.keyboard-row {
	margin: 0.5vw 0vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;	
}

.key-button {
	width: 1.5vw;
	height: 2vw;
	margin: 0vw 0.25vw;
	border-radius: 0.25vw;
	font-size: 1.2vw;
	line-height: 2vw;
	text-align: center;
	color: white;
}

.key-enter {
	border: 0.25vw solid var(--light-grey);
	background: var(--light-grey);
	width: 3vw;
}

.key-backspace {
	border: 0.25vw solid var(--light-grey);
	background: var(--light-grey);
	width: 3vw;
}

/*.key-enter {
	border: 0.25vw solid var(--winning-green);
	background: var(--winning-green);
	width: 3vw;
}

.key-backspace {
	border: 0.25vw solid var(--choice-red);
	background: var(--choice-red);
	width: 3vw;
}*/

.key-unknown {
	border: 0.25vw solid var(--light-grey);
	background: var(--light-grey);
}

.key-grey {
	border: 0.25vw solid var(--midder-blue);
	background: var(--midder-blue);
	color: var(--light-grey);
}

.key-green {
	border: 0.25vw solid var(--winning-green);
	background: var(--winning-green);
}

.key-yellow {
	border: 0.25vw solid var(--narrow-yellow);
	background: var(--narrow-yellow);
}

.key-blue {
	border: 0.25vw solid var(--true-blue);
	background: var(--true-blue);
}

.plaintext {
	text-align: center;
	color: white;
	margin: 0.3vw 0vw;
	font-family: monospace
}

h3.plaintext {
	color: grey;
}